In [3]:
# Import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [4]:
# Store the CSV into a df
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2022-06-28 22:28:43,-20.0064,57.6608,66.60,76,33,3.00
1,1,Vaini,TO,2022-06-28 22:28:43,-21.2000,-175.2000,77.16,88,75,5.75
2,2,Yellowknife,CA,2022-06-28 22:28:44,62.4560,-114.3525,72.12,35,75,17.27
3,3,Castro,BR,2022-06-28 22:28:44,-24.7911,-50.0119,56.28,88,0,4.16
4,4,Mahebourg,MU,2022-06-28 22:28:44,-20.4081,57.7000,66.49,88,75,14.97

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:

# Configure gmaps to use API key
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperatures

# Get lat/long
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap layer
heat_layer = gmaps.heatmap_layer(locations, 
    weights=[max(temp, 0) for temp in max_temp], 
    dissipating=False, 
    max_intensity=300, 
    point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
humid_layer = gmaps.heatmap_layer(
    locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(humid_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloud_layer = gmaps.heatmap_layer(
    locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(cloud_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
wind_layer = gmaps.heatmap_layer(
    locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(wind_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(
    input("What is the minimum temperature you would like for your trip? "))
max_temp = float(
    input("What is the maximum temperature you would like for your trip? "))

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Bluff,NZ,2022-06-28 22:28:45,-46.6000,168.3333,47.80,83,94,17.67
12,12,Dikson,RU,2022-06-28 22:28:48,73.5069,80.5464,32.61,97,89,14.94
13,13,Provideniya,RU,2022-06-28 22:28:48,64.3833,-173.3000,42.91,93,100,8.95
20,20,Busselton,AU,2022-06-28 22:28:50,-33.6500,115.3333,46.90,85,0,9.69
27,27,Tiksi,RU,2022-06-28 22:28:53,71.6872,128.8694,45.72,56,24,19.73
30,30,Ushuaia,AR,2022-06-28 22:28:54,-54.8000,-68.3000,37.06,87,75,14.97
31,31,Barrow,US,2022-06-28 22:28:55,71.2906,-156.7887,46.42,93,100,4.61
33,33,Clyde River,CA,2022-06-28 22:28:56,70.4692,-68.5914,35.83,93,100,9.22
41,41,New Norfolk,AU,2022-06-28 22:28:58,-42.7826,147.0587,48.92,80,100,5.01
45,45,Lavrentiya,RU,2022-06-28 22:29:00,65.5833,-171.0000,46.83,85,93,14.45

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df = preferred_cities_df.dropna()

In [15]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5         Bluff      NZ     47.80 -46.6000  168.3333
12       Dikson      RU     32.61  73.5069   80.5464
13  Provideniya      RU     42.91  64.3833 -173.3000
20    Busselton      AU     46.90 -33.6500  115.3333
27        Tiksi      RU     45.72  71.6872  128.8694
30      Ushuaia      AR     37.06 -54.8000  -68.3000
31       Barrow      US     46.42  71.2906 -156.7887
33  Clyde River      CA     35.83  70.4692  -68.5914
41  New Norfolk      AU     48.92 -42.7826  147.0587
45   Lavrentiya      RU     46.83  65.5833 -171.0000

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bluff,NZ,47.80,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
12,Dikson,RU,32.61,73.5069,80.5464,
13,Provideniya,RU,42.91,64.3833,-173.3000,
20,Busselton,AU,46.90,-33.6500,115.3333,Observatory Guest House
27,Tiksi,RU,45.72,71.6872,128.8694,Arktika
30,Ushuaia,AR,37.06,-54.8000,-68.3000,Albatross Hotel
31,Barrow,US,46.42,71.2906,-156.7887,King Eider Inn
33,Clyde River,CA,35.83,70.4692,-68.5914,Qamaq Hotel
41,New Norfolk,AU,48.92,-42.7826,147.0587,The Shingles Riverside Cottages
45,Lavrentiya,RU,46.83,65.5833,-171.0000,

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row)
              for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))