In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV into a df
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-06-27 18:21:57,-42.8794,147.3294,48.25,76,98,6.91
1,1,Butaritari,KI,2022-06-27 18:18:35,3.0707,172.7902,81.39,78,98,13.76
2,2,Ishinomaki,JP,2022-06-27 18:24:47,38.4167,141.3000,72.10,87,100,4.50
3,3,Arraial Do Cabo,BR,2022-06-27 18:24:20,-22.9661,-42.0278,71.46,53,40,6.91
4,4,Tiksi,RU,2022-06-27 18:24:48,71.6872,128.8694,32.27,89,100,8.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:

# Configure gmaps to use API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperatures

# Get lat/long
locations = city_data_df[["Lat", "Lng"]]

# Get max temp
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap layer
heat_layer = gmaps.heatmap_layer(locations, 
    weights=[max(temp, 0) for temp in max_temp], 
    dissipating=False, 
    max_intensity=300, 
    point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
humid_layer = gmaps.heatmap_layer(
    locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(humid_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloud_layer = gmaps.heatmap_layer(
    locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(cloud_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
wind_layer = gmaps.heatmap_layer(
    locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(wind_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(
    input("What is the minimum temperature you would like for your trip? "))
max_temp = float(
    input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-06-27 18:18:35,3.0707,172.7902,81.39,78,98,13.76
5,5,Port Blair,IN,2022-06-27 18:24:48,11.6667,92.7500,78.84,89,40,3.44
6,6,Puerto Ayora,EC,2022-06-27 18:18:38,-0.7393,-90.3518,76.96,89,94,5.99
13,13,Xiamen,CN,2022-06-27 18:24:51,24.4798,118.0819,82.45,83,20,4.47
16,16,Bethel,US,2022-06-27 18:13:42,41.3712,-73.4140,75.29,92,100,6.91
19,19,Albany,US,2022-06-27 18:21:08,42.6001,-73.9662,78.78,53,99,1.99
23,23,Nikolskoye,RU,2022-06-27 18:16:04,59.7035,30.7861,80.49,61,11,3.24
26,26,Atuona,PF,2022-06-27 18:16:03,-9.8000,-139.0333,77.99,70,2,21.34
27,27,Matara,LK,2022-06-27 18:24:54,5.9485,80.5353,78.35,87,50,11.12
29,29,Carutapera,BR,2022-06-27 18:24:55,-1.1950,-46.0200,77.81,88,37,7.20

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1     Butaritari      KI     81.39   3.0707  172.7902
5     Port Blair      IN     78.84  11.6667   92.7500
6   Puerto Ayora      EC     76.96  -0.7393  -90.3518
13        Xiamen      CN     82.45  24.4798  118.0819
16        Bethel      US     75.29  41.3712  -73.4140
19        Albany      US     78.78  42.6001  -73.9662
23    Nikolskoye      RU     80.49  59.7035   30.7861
26        Atuona      PF     77.99  -9.8000 -139.0333
27        Matara      LK     78.35   5.9485   80.5353
29    Carutapera      BR     77.81  -1.1950  -46.0200

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
5,Port Blair,IN,78.84,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
6,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Xiamen,CN,82.45,24.4798,118.0819,Xiamen Dongchen Hotel
16,Bethel,US,75.29,41.3712,-73.4140,Courtyard by Marriott Danbury
19,Albany,US,78.78,42.6001,-73.9662,
23,Nikolskoye,RU,80.49,59.7035,30.7861,Tourist House - Sablino
26,Atuona,PF,77.99,-9.8000,-139.0333,Villa Enata
27,Matara,LK,78.35,5.9485,80.5353,Amaloh Boutique Resort
29,Carutapera,BR,77.81,-1.1950,-46.0200,Lidera

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row)
              for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))